<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
    <p> Hello, <%= current_user.name %> - <%= link_to "Sign_out", destroy_user_session_path, :method => "delete" %>

<% else %>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Login", new_user_session_path %>
<% end %>
<h1>All Posts</h1>
<% if @posts.empty? %>
<h4>No Post yet! Please add some post here.</h4>
<% else %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <% if user_signed_in? %>
        <th>Author</th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <% if user_signed_in? %>
          <td><%= User.find(post.user_id).name %></td>
        <% end %>
       
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= link_to "New Post", new_post_path %>
